
<% if @here[0] %>
  <h1>List of Pins</h1>
  <hr/>
  <% if @pins.present? %>
    <div class="list-group">
      <% @pins.geo_near(@here).each do |pin| %> 
        <% if pin.recipient == session[:name] || pin.recipient == "Public" %>
          <a class="list-group-item" href="<%= url_for(:pins, :show, id: pin.id) %>">
            <h4 class="list-group-item-heading pin-name"><%= pin.message %></h4>
            <p class="list-group-item-text">
              <b>@: </b> 
              <span class="lon"><%= pin.coordinates[0] %></span>
              <span class="lat"><%= pin.coordinates[1] %></span>
              <span class="from"><b>from:</b> <%= pin.user.name %></span>
              <span class="on"><b>on:</b> <%= pin.created_at.strftime("%h %d @ %r") %></span>
              <span class="dist"><b>distance:</b> <%= pin.geo_near_distance.round(4) %></span>
            </p>
          </a>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <p>Acquiring position...</p>
<% end %>