<h1>Drop new PIN</h1>
<hr/>

<% if @new_pin.errors.any? %>
  <div style="color: red">
    <strong>Some issues came up. Please fix them:</strong>
    <ul>
      <% @new_pin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<form method="post" action="/pins">
  <input type="hidden" name="lat" id="currentLat" value="">
  <input type="hidden" name="lon" id="currentLon" value="">
  <div>
    <label>Message:</label>
    <input type="text" name="message" placeholder="type note here" value="<%= @new_pin.message%>" required>
    <span> (max: 140 characters)</span>
  </div>
  <div>
    <label>Recipient:</label>
    <% @new_pin.recipient = User.find(@id).name if @id %>
    <input type="text" name="recipient" placeholder="type 'Public' for all" value="<%= @new_pin.recipient %>" required>
    <span><a href="/users">(see list of potential users)</a> <i>eventually make drop-down?</i></span
  </div>
<!--   <div>
    <label>(url):</label>
    <input type="text" name="url" placeholder="optional" value="<%= @new_pin.url %>">
    <span>(optional)</span>
  </div> -->
  <div>
    <input type="submit" value="Submit">
  </div>
</form>

<% if user_logged_in? && @pins_sent.present? %> <!-- Might not need this IF; can only get here via DROP (disabled if not logged in)...except direct URL -->
  <hr/>
  <p>
    <h1>PINS you have dropped:</h1>
    <div class="list-group">
      <% @pins.geo_near(@here).each do |pin| %> 
        <% if pin.user.name == session[:name] || pin.recipient == session[:name] || pin.recipient == "Public" %>
          <a class="list-group-item" href="<%= url_for(:pins, :show, id: pin.id) %>">
            <h4 class="list-group-item-heading pin-name"><%= pin.message %></h4>
            <p class="list-group-item-text">
              <span class="lon"><%= pin.coordinates[0] %></span>
              <span class="lat"><%= pin.coordinates[1] %></span>
              <span class="to"><b>to:</b> <%= pin.recipient %></span>
              <span class="on"><b>on:</b> <%= pin.created_at.strftime("%h %d @ %r") %></span>
              <span class="dist"><b>distance:</b> <%= pin.geo_near_distance.round(4) %></span>
            </p>
          </a>
        <% end %>
      <% end %>
    </div>
  </p>
<% end %>
