<h1><%= @pin.message %></h1>
<hr/>

<p>At: <%= @pin.location %></p>

<p>For: 
  <% recipient_name = @pin.recipient == session[:name] ? "*you*" : @pin.recipient %>
  <%= link_to recipient_name, url_for(:users, :show, id: User.where(name: @pin.recipient).first.id) %>
</p>

<p>By: 
  <% dropper_name = @pin.user.name == session[:name] ? "*you*" : @pin.user.name %>
  <%= link_to dropper_name, url_for(:users, :show, id: @pin.user.id) %>
</p>

<p>On: <%= @pin.created_at.strftime("%h %d @ %r") %></p>

<hr/>
<% if @pin.recipient == session[:name] %>
  <a href="<%= url_for(:pins, :destroy, id: @pin.id) %>" type="button" class="btn btn-danger">(delete pin)</a>
<% end %>