<% if @user.present? %>
  <h1><%= @user.name %></h1>
  <hr/>

  <p>e: <%= @user.email %></p>

  <% if @user.name == session[:name] %>
    <p>p: <%= @user.password %> <i>(hide later?)</i></p>

    <h3>PINS dropped:</h3>

    <div class="list-group">
      <% Pin.where(user_id: @user.id).each do |pin| %>
        <% if pin.user.name == session[:name] || pin.recipient == session[:name] || pin.recipient == "Public" %>
          <a class="list-group-item" href="<%= url_for(:pins, :show, id: pin.id) %>">
            <h4 class="list-group-item-heading"><%= pin.message %></h4>
            <p class="list-group-item-text">
              <b>@: </b><%= pin.coordinates %> 
              <b>to:</b> <%= pin.recipient %> 
              <b>on:</b>  <%= pin.created_at.strftime("%h %d @ %r") %>
            </p>
          </a>
        <% end %>
      <% end %>
    </div>

  <% else %> 
    <hr/>
    
    <%= link_to "Drop a note for #{@user.name}", url_for(:pins, :for, id: @user.id) %>
  <% end %>
<% end %>