<!DOCTYPE html>
<html lang="en">
<head>
<!-- <meta name='csrf-token' content='<%= session[:csrf] %>'> -->
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <!-- <link rel="stylesheet" href="/stylesheets/normalize.css"> -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <title>Word on the Street</title>
</head>
<body>

<!-- <nav class="navbar navbar-default"> -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- <div class="navbar-header"> -->

      <a class="navbar-brand" href="/">Word on the Street</a>

        <div class="navbar-text navbar-right">
          <% if user_logged_in? %>
            Signed in as <a href="/users/<%= session[:id] %>" class="navbar-link"><%= get_current_user.name %></a>
            <a href="<%= url_for(:session, :logout) %>" class="btn btn-primary">logout</a>
          <% else %>
            <a href="/register">register</a>
            <a href="<%= url_for(:session, :login) %>" class="btn btn-primary">login</a>
          <% end %>
        </div>

      </a>
    <!-- </div> -->
  </div>
</nav>

<div class="container">
  <div >
  
</div>

  <div class="row">
    <div class="col-md-12">
      <div id="map"></div>
    </div>
  </div>

  <hr/>

  <%= yield %>
</div>
<!-- <nav>
<ul class="nav nav-pills nav-justified">
  <li><a href="/users">USERS (later DROP)</a></li>
  <li><a href="/pins"><li>EXPLORE</a></li>
</ul>
</nav> -->

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">

        <div class="navbar-text navbar-center">
            <a href="/pins" class="btn btn-primary">EXPLORE</a>
            <% if user_logged_in? %>
              <a href="/pins/new" class="btn btn-primary">DROP</a>
            <% else %>
              <a href="/pins/new" class="btn btn-primary disabled">DROP</a>
            <% end %>
        </div>

      </a>
  </div>
</nav>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script src="/javascripts/userPosition.js"></script>
</body>
</html>
